[submodule "salt/roots/formulas/binddns-formula"]
	path = salt/roots/formulas/binddns-formula
	url = https://github.com/extra2000/binddns-formula.git
[submodule "salt/roots/formulas/podman-formula"]
	path = salt/roots/formulas/podman-formula
	url = https://github.com/extra2000/podman-formula.git
